In [85]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

In [86]:
df = pd.read_csv("used_car_prices.csv")
df.head()

,Unnamed: 0,index,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,0,0,12000,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0,38000
1,1,1,12001,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0,23495
2,2,2,12004,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0,59999
3,3,3,12013,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0,16713
4,4,4,12017,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0,46000

In [87]:
df.isnull().sum()

Unnamed: 0      0
index           0
carID           0
brand           0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
price           0
dtype: int64

In [88]:
df.drop(["Unnamed: 0","index" , "carID"], axis=1, inplace=True)

In [89]:
df.head()

,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0,38000
1,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0,23495
2,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0,59999
3,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0,16713
4,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0,46000

In [90]:
X = df.drop("price", axis=1)
y = df["price"]

In [91]:
X.head()

,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,merc,GLS Class,2017,Automatic,12046,Diesel,150.0,37.2,3.0
1,vw,Amarok,2017,Automatic,37683,Diesel,260.0,36.2,3.0
2,merc,GLS Class,2019,Automatic,10000,Diesel,145.0,34.0,3.0
3,skoda,Scala,2019,Manual,3257,Petrol,145.0,49.6,1.0
4,audi,RS6,2015,Semi-Auto,20982,Petrol,325.0,29.4,4.0

In [92]:
y.head()

0    38000
1    23495
2    59999
3    16713
4    46000
Name: price, dtype: int64

In [93]:
categoricas = ["brand", "model", "transmission", "fuelType"]
numericas = ["year", "mileage", "tax", "mpg", "engineSize"]

In [94]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

transformer_numerico = ("transformer_numerico", MinMaxScaler(), numericas)
transformer_categorico = ("transformer_categorico", OneHotEncoder(), categoricas)

transformer = ColumnTransformer([transformer_numerico, transformer_categorico], remainder="passthrough")

In [95]:
X = transformer.fit_transform(X).toarray()

In [96]:
pd.DataFrame(X, columns = transformer.get_feature_names_out())

,transformer_numerico__year,transformer_numerico__mileage,transformer_numerico__tax,transformer_numerico__mpg,transformer_numerico__engineSize,transformer_categorico__brand_audi,transformer_categorico__brand_bmw,transformer_categorico__brand_ford,transformer_categorico__brand_hyundi,transformer_categorico__brand_merc,...,transformer_categorico__model_ i8,transformer_categorico__transmission_Automatic,transformer_categorico__transmission_Manual,transformer_categorico__transmission_Other,transformer_categorico__transmission_Semi-Auto,transformer_categorico__fuelType_Diesel,transformer_categorico__fuelType_Electric,transformer_categorico__fuelType_Hybrid,transformer_categorico__fuelType_Other,transformer_categorico__fuelType_Petrol
0,0.94,0.046506,0.258621,0.073504,0.454545,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.94,0.145491,0.448276,0.071368,0.454545,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.98,0.038606,0.250000,0.066667,0.454545,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.98,0.012571,0.250000,0.100000,0.151515,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.90,0.081008,0.560345,0.056838,0.606061,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7627,0.90,0.093873,0.215517,0.114957,0.318182,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7628,0.94,0.069494,0.250000,0.103846,0.454545,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7629,0.90,0.327920,0.051724,0.122436,0.303030,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7630,0.94,0.116406,0.250000,0.128205,0.454545,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
7631,0.88,0.155325,0.258621,0.114744,0.454545,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [97]:
X

array([[0.94      , 0.04650597, 0.25862069, ..., 0.        , 0.        ,
        0.        ],
       [0.94      , 0.14549091, 0.44827586, ..., 0.        , 0.        ,
        0.        ],
       [0.98      , 0.03860633, 0.25      , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.9       , 0.32792019, 0.05172414, ..., 0.        , 0.        ,
        0.        ],
       [0.94      , 0.11640585, 0.25      , ..., 0.        , 0.        ,
        0.        ],
       [0.88      , 0.15532492, 0.25862069, ..., 0.        , 0.        ,
        0.        ]])

In [98]:
transformer.output_indices_

{'transformer_numerico': slice(0, 5, None),
 'transformer_categorico': slice(5, 113, None),
 'remainder': slice(0, 0, None)}

Entrenamos

In [99]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [100]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [101]:
def train_evaluate(nombre_modelo, modelo):
    mod = modelo()
    mod.fit(X_train, y_train)
    
    y_predict = mod.predict(X_test)
    
    mae = mean_absolute_error(y_test, y_predict)
    mse = mean_squared_error(y_test, y_predict)
    rmse = mean_squared_error(y_test, y_predict, squared=False)
    r2 = r2_score(y_test,y_predict)
    
    print(nombre_modelo)
    print()
    print(f"MAE: {mae}")
    print(f"MSE: {mse}")
    print(f"RMSE: {rmse}")
    print(f"R2: {r2}")
    print()

In [102]:
train_evaluate("LinearRegression", LinearRegression)

LinearRegression

MAE: 3701.5728511530397
MSE: 36821844.533018865
RMSE: 6068.100570443676
R2: 0.8684607788217458

In [103]:
train_evaluate("SVM", SVR)

SVM

MAE: 11465.742250985686
MSE: 297802149.3121206
RMSE: 17256.94495883094
R2: -0.06384303346345543

In [104]:
train_evaluate("Decission Tree", DecisionTreeRegressor)

Decission Tree

MAE: 2363.438615716918
MSE: 23458234.423770536
RMSE: 4843.370151430771
R2: 0.9161998013556136